# Heart Attack in Youth Vs Adult in Germany

*This project focuses on using Python to explore and analyze men's Heart Attack in Germany between Youth and Adult, with the goal of answering the following questions:*

- Between youth and adults, who are the most prone to cardiac arrests?
  
- Between each age group, which gender is most prone to cardiac arrests?
  
- Over time, what is the evolution of heart attacks, has it increased or decreased?
  
- Are smokers more at risk?
  
- Are diabetics more at risk?
  
- What are the states most affected by cardiac arrests ?
  
- Does an individual's income make them more prone to cardiac arrests?

## Import and clean Data

### Importing packages

In [165]:
import pandas as pd
import numpy as np

### Load and Inspect our Dataset

We will use this dataset, which we sourced from Kaggle: [Heart Attack in Youth Vs Adult in Germany](https://www.kaggle.com/datasets/ankushpanday1/heart-attack-in-youth-vs-adult-in-germany).

The heart attack data is stored in a single file called : **heart_attack.csv**()

In [166]:
# Load dataset
heart_attack = pd.read_csv('heart_attack.csv')

# Print columns infos and a preview of the first five rows 
print({heart_attack.info()})
heart_attack.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275644 entries, 0 to 275643
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   State                     275644 non-null  object
 1   Age_Group                 275644 non-null  object
 2   Heart_Attack_Incidence    275644 non-null  int64
 3   Year                      275644 non-null  int64
 4   Gender                    275644 non-null  object
 5   BMI                       275644 non-null  float64
 6   Smoking_Status            275644 non-null  object
 7   Alcohol_Consumption       275644 non-null  float64
 8   Physical_Activity_Level   275644 non-null  object
 9   Diet_Quality              275644 non-null  object
 10  Family_History            275644 non-null  int64
 11  Hypertension              275644 non-null  int64
 12  Cholesterol_Level         275644 non-null  float64
 13  Diabetes                  275644 non-null  int64
 14  Urban_Rural               275644 non-null  object
 15  Socioeconomic_Status      275644 non-null  object
 16  Air_Pollution_Index       275644 non-null  float64
 17  Stress_Level              275644 non-null  object
 18  Healthcare_Access         275644 non-null  object
 19  Education_Level           275644 non-null  object
 20  Employment_Status         275644 non-null  object
 21  Region_Heart_Attack_Rate  275644 non-null  float64
dtypes: float64(5), int64(5), object(12)
memory usage: 46.3+ MB
{None}

,State,Age_Group,Heart_Attack_Incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,Socioeconomic_Status,Air_Pollution_Index,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_Heart_Attack_Rate
0,Lower Saxony,Youth,0,2018,Other,25.6,Former Smoker,4.2,Moderate,Average,...,154.4,0,Rural,Low,31.58,Moderate,Moderate,Primary,Retired,1.92
1,Saxony,Adult,0,2021,Female,36.7,Smoker,2.4,Low,Poor,...,75.0,1,Rural,Low,46.22,High,Easy,Primary,Unemployed,14.16
2,Hesse,Youth,1,2022,Female,28.6,Smoker,29.5,High,Poor,...,121.9,0,Urban,Middle,15.69,High,Hard,Secondary,Student,3.49
3,Lower Saxony,Adult,0,2015,Male,27.6,Non-Smoker,4.2,Moderate,Poor,...,152.3,0,Urban,Low,26.50,High,Hard,Tertiary,Student,3.24
4,Hamburg,Adult,0,2015,Female,15.2,Smoker,4.3,Moderate,Good,...,130.3,0,Urban,High,11.21,High,Moderate,Tertiary,Employed,9.98

## Descriptive statistics

Basic statistical data on our dataset

In [167]:
heart_attack.describe()

,Heart_Attack_Incidence,Year,BMI,Alcohol_Consumption,Family_History,Hypertension,Cholesterol_Level,Diabetes,Air_Pollution_Index,Region_Heart_Attack_Rate
count,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000,275644.000000
mean,0.150070,2018.997319,24.992669,4.985734,0.300540,0.400564,130.034229,0.199525,27.486225,10.489019
std,0.357141,2.582667,4.996535,5.001789,0.458494,0.490014,30.009242,0.399644,13.001527,5.483277
min,0.000000,2015.000000,1.400000,0.000000,0.000000,0.000000,-7.900000,0.000000,5.000000,1.000000
25%,0.000000,2017.000000,21.600000,1.400000,0.000000,0.000000,109.800000,0.000000,16.220000,5.750000
50%,0.000000,2019.000000,25.000000,3.500000,0.000000,0.000000,130.100000,0.000000,27.430000,10.490000
75%,0.000000,2021.000000,28.400000,6.900000,1.000000,1.000000,150.300000,0.000000,38.780000,15.240000
max,1.000000,2023.000000,47.900000,70.000000,1.000000,1.000000,272.400000,1.000000,50.000000,20.000000

## Data cleaning and preparation

In [168]:
heart_attack = heart_attack.rename(
    columns = {
        'Heart_Attack_Incidence': 'HA_incidence',
        'Region_Heart_Attack_Rate': 'Region_HA_rate',
        'Socioeconomic_Status': 'SocioStatus',
        'Air_Pollution_Index': 'Air_Pollution',
        'Physical_Activity_Level': 'Physical_Activity'
    }
)

In [169]:
def dataCleaning(df):
    for i in df.columns:
        if df[i].dtype == 'object':
            df[i] = df[i].str.lower()
            df[i] = df[i].str.strip()
    return df

ht_new = dataCleaning(heart_attack)
ht_new.head()

,State,Age_Group,HA_incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,SocioStatus,Air_Pollution,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_HA_rate
0,lower saxony,youth,0,2018,other,25.6,former smoker,4.2,moderate,average,...,154.4,0,rural,low,31.58,moderate,moderate,primary,retired,1.92
1,saxony,adult,0,2021,female,36.7,smoker,2.4,low,poor,...,75.0,1,rural,low,46.22,high,easy,primary,unemployed,14.16
2,hesse,youth,1,2022,female,28.6,smoker,29.5,high,poor,...,121.9,0,urban,middle,15.69,high,hard,secondary,student,3.49
3,lower saxony,adult,0,2015,male,27.6,non-smoker,4.2,moderate,poor,...,152.3,0,urban,low,26.50,high,hard,tertiary,student,3.24
4,hamburg,adult,0,2015,female,15.2,smoker,4.3,moderate,good,...,130.3,0,urban,high,11.21,high,moderate,tertiary,employed,9.98

In [170]:
positive_incidence = ht_new[ht_new['HA_incidence'] == 1]

In [171]:
proportion = heart_attack['Age_Group'].value_counts()

proportion

Age_Group
adult    193115
youth     82529
Name: count, dtype: int64

In [172]:
total_by_age = ht_new.groupby('Age_Group')['HA_incidence'].count()

cases_by_age = positive_incidence.groupby('Age_Group')['HA_incidence'].sum()

proportion_by_age = (cases_by_age / total_by_age) * 100 

print("Heart attack incidence rate by age group :\n", proportion_by_age)

Heart attack incidence rate by age group :
 Age_Group
adult    15.095668
youth    14.799646
Name: HA_incidence, dtype: float64

In [173]:
total_by_gender_age = ht_new.groupby(['Gender','Age_Group'])['HA_incidence'].count()

case_by_gender_age = positive_incidence.groupby(['Gender','Age_Group'])['HA_incidence'].sum()

proportion_by_gender = (case_by_gender_age/total_by_gender_age)*100

print(f"Wich gender is more prone to heart attack: {proportion_by_gender}")

Wich gender is more prone to heart attack: Gender  Age_Group
female  adult        14.920374
        youth        14.377574
male    adult        14.998910
        youth        15.042210
other   adult        15.367770
        youth        14.983263
Name: HA_incidence, dtype: float64

In [174]:

year_evo = positive_incidence.groupby('Year')['HA_incidence'].count()

print(f"The evolution of heart attacks over years {year_evo}: ")

The evolution of heart attacks over years Year
2015    4552
2016    4623
2017    4686
2018    4461
2019    4665
2020    4652
2021    4651
2022    4575
2023    4501
Name: HA_incidence, dtype: int64:

In [175]:
total_by_smokers = ht_new['HA_incidence'].count()

smoker_case = ht_new.groupby('Smoking_Status')['HA_incidence'].count()

smokers = (smoker_case/total_by_smokers)*100

print(f"Are smokers more at risk ?\n{smokers}")

Are smokers more at risk ?
Smoking_Status
former smoker    33.443862
non-smoker       33.271901
smoker           33.284236
Name: HA_incidence, dtype: float64

In [176]:
# total_by_diabetics = ht_new.groupby('Diabetes')['HA_incidence'].count()
total_cases = ht_new['Diabetes'].count()
diabetics_case = ht_new.groupby('Diabetes')['HA_incidence'].count()

diabetes = (diabetics_case/total_cases)*100


print(f"Are diabetics more at risk ?\n{diabetes}")
print(total_cases)

Are diabetics more at risk ?
Diabetes
0    80.047453
1    19.952547
Name: HA_incidence, dtype: float64
275644

In [177]:
def alcohol_classification(value):
    if value <= 23:
        return 'low'
    elif 24 <= value <= 47:
        return 'medium'
    elif 48 <= value <= 70:
        return 'high'
    else:
        return 'unknown'  

# Appliquer la fonction sur la colonne
ht_new['Alcohol_Consumption'] = ht_new['Alcohol_Consumption'].apply(alcohol_classification)

ht_new.head()

,State,Age_Group,HA_incidence,Year,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity,Diet_Quality,...,Cholesterol_Level,Diabetes,Urban_Rural,SocioStatus,Air_Pollution,Stress_Level,Healthcare_Access,Education_Level,Employment_Status,Region_HA_rate
0,lower saxony,youth,0,2018,other,25.6,former smoker,low,moderate,average,...,154.4,0,rural,low,31.58,moderate,moderate,primary,retired,1.92
1,saxony,adult,0,2021,female,36.7,smoker,low,low,poor,...,75.0,1,rural,low,46.22,high,easy,primary,unemployed,14.16
2,hesse,youth,1,2022,female,28.6,smoker,medium,high,poor,...,121.9,0,urban,middle,15.69,high,hard,secondary,student,3.49
3,lower saxony,adult,0,2015,male,27.6,non-smoker,low,moderate,poor,...,152.3,0,urban,low,26.50,high,hard,tertiary,student,3.24
4,hamburg,adult,0,2015,female,15.2,smoker,low,moderate,good,...,130.3,0,urban,high,11.21,high,moderate,tertiary,employed,9.98

In [181]:
total_cases = ht_new['Alcohol_Consumption'].count()
alc_case = ht_new.groupby('Alcohol_Consumption')['HA_incidence'].count()

alcohol_cases = (alc_case/total_cases)*100


print(f"Are Drunks more at risk ?\n{alcohol_cases}")

Are Drunks more at risk ?
Alcohol_Consumption
high        0.008344
low        98.995081
medium      0.829331
unknown     0.167245
Name: HA_incidence, dtype: float64

In [199]:
ht_new.groupby('State')['HA_incidence'].mean()*100


states_char = pd.pivot_table(
    ht_new,
    columns='State',
    index='Urban_Rural',
    values='HA_incidence',  # ou une autre colonne pour compter les occurrences
    aggfunc='mean'
).reset_index()


states_char

State,Urban_Rural,baden-wÃ¼rttemberg,bavaria,berlin,hamburg,hesse,lower saxony,north rhine-westphalia,saxony
0,rural,0.148131,0.152053,0.154241,0.149514,0.151526,0.147693,0.147277,0.152811
1,urban,0.152383,0.148634,0.148229,0.148054,0.151080,0.149988,0.151452,0.148071

In [206]:
total = ht_new['Diet_Quality'].count()
by_case = ht_new.groupby(['Diet_Quality', 'HA_incidence'])['HA_incidence'].count()

fine = (by_case/total)*100

fine

Diet_Quality  HA_incidence
average       0               28.262904
              1                5.057611
good          0               28.497265
              1                4.967277
poor          0               28.232793
              1                4.982151
Name: HA_incidence, dtype: float64